/*--- global ---*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0 !important; }

/*--- headings ---*/
h1, h2, h3 {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase; }

h1 {
  font-weight: 700;
  padding-top: 100px;
  font-size: 40px; }

h2 {
  font-weight: 500;
  font-size: 28px; }

h3 {
  font-size: 18px;
  font-weight: 400; }

/*--- logo ---*/
header {
  position: absolute;
  top: 40px;
  left: 3%;
  z-index: 9; }

#logo {
  text-decoration: none; }
  #logo img {
    width: 20px;
    height: auto; }
  #logo span {
    font-family: "Manrope", sans-serif;
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
    vertical-align: top;
    line-height: 40px; }

@media (max-width: 1000px) {
  header {
    left: 3%; } }

/*--- navigation ---*/
nav {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
  width: 80px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transition: width 1s, height 1s, clip-path 1s, -webkit-clip-path 1s; }

nav i,
#nav-content i {
  color: #333; }

nav .fa-bars {
  float: right;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 22px; }

#nav-content,
nav .fa-times {
  display: none; }

#nav-links {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px; }
  #nav-links a {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 30px;
    display: block;
    text-transform: uppercase;
    padding-bottom: 30px; }
  #nav-links a i {
    padding-right: 20px;
    width: 30px;
    text-align: center; }
  #nav-links a:nth-child(3),
  #nav-links a:nth-child(6) {
    margin-top: 20px; }

nav .fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  nav {
    height: 60px;
    width: 60px; } }

/*--- tri sections ---*/
.tri-left {
  position: absolute;
  z-index: 3;
  width: 56%; }
  .tri-left .tri-content {
    height: 100vh;
    background: #ff6e61;
    -webkit-clip-path: url(#hero-clip);
    clip-path: url(#hero-clip);
    align-items: normal; }
    .tri-left .tri-content .tri-pad {
      padding: 2.5%; }
  .tri-left h1 {
    margin-bottom: 0; }
  .tri-left svg {
    display: block; }

.tri-right-top, .tri-right-bottom {
  width: 50%;
  position: absolute;
  right: 0; }

.tri-right-top {
  top: 0;
  z-index: 2;
  background: #3b72b3; }
  .tri-right-top .tri-content {
    background: #479dff;
    z-index: 2;
    -webkit-clip-path: url(#hero-clip-2);
    clip-path: url(#hero-clip-2); }

.tri-right-bottom {
  bottom: 0;
  z-index: 1;
  background: #3b72b3; }

.tri-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 50vh; }
  .tri-content .tri-vert {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    text-align: center; }

@media (max-width: 1000px) {
  .tri-left, .tri-right-top, .tri-right-bottom {
    width: 100%;
    position: relative;
    display: block; }
  .tri-left .tri-content, .tri-right-top .tri-content, .tri-right-bottom .tri-content {
    margin-left: 0;
    width: 100%; }
  .tri-left {
    background-color: #479dff; }
    .tri-left .tri-content {
      height: auto;
      padding-bottom: 20%;
      -webkit-clip-path: url(#mobile-clip);
      clip-path: url(#mobile-clip); }
      .tri-left .tri-content h3 {
        margin-top: 60px; }
  .tri-right-top {
    background-color: #3b72b3; }
    .tri-right-top .tri-content {
      -webkit-clip-path: url(#mobile-clip);
      clip-path: url(#mobile-clip); }
  .tri-right-bottom .tri-content {
    margin-top: 0; } }

/*--- home ---*/
#currentJob {
  height: 22px;
  width: auto; }

#lottieProcess {
  width: auto;
  height: 100px;
  margin: 45px 0 55px 0; }

#lottieShowCase {
  width: auto;
  height: 200px; }

#brand-logos {
  width: 80%;
  margin-left: -5px; }
  #brand-logos img {
    width: 75px;
    height: auto;
    display: inline; }

@media (max-width: 1000px) {
  #brand-logos {
    width: 100%; }
  #lottieProcess {
    width: auto;
    height: 60px;
    margin: 40px 0 50px 0; }
  #lottieShowCase {
    width: auto;
    height: 150px; } }

/*--- buttons ---*/
.btn, .btn:hover {
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  border: 3px solid #fff; }

.btn {
  color: #333;
  background-color: #fff; }

.btn:hover {
  color: #fff;
  background-color: transparent; }

/*-- internal sections--*/
#tri-right-bottom-lp, #tri-right-top-lp {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  right: 0;
  z-index: 3;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  transition: width 1s, height 1s, clip-path 1s, -webkit-clip-path 1s; }

#tri-right-bottom-lp {
  -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
  bottom: 0;
  background-color: #3b72b3; }

#tri-right-top-lp {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 51%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 51%);
  top: 0;
  background-color: #479dff; }

.lp-col {
  width: 33%;
  display: inline;
  float: left; }
  .lp-col ul {
    text-align: left;
    width: 210px;
    margin: 0 auto; }
    .lp-col ul li {
      padding-top: 10px;
      font-size: 18px; }
  .lp-col h2 i {
    padding-right: 20px; }
  .lp-col h2 img {
    padding-right: 20px;
    height: auto;
    width: auto; }
  .lp-col img {
    width: 80%;
    height: auto; }
  .lp-col p {
    width: 300px;
    margin: 20px auto 40px auto; }

@media (max-width: 900px) {
  .lp-col {
    width: 100%;
    margin-bottom: 30px; }
    .lp-col h2 {
      padding-top: 30px; }
  .lp-col:last-child {
    padding-bottom: 100px; } }

/*--- showcase internals ---*/
.sc-contain {
  max-width: 1000px;
  overflow: auto;
  margin: 0 auto; }
  .sc-contain img {
    width: 100%;
    height: auto; }

.sc-row:nth-child(odd), .sc-row-contain:nth-child(even) .sc-row {
  -webkit-clip-path: url(#mobile-clip);
  clip-path: url(#mobile-clip); }

.sc-row-contain:nth-child(odd) {
  background: #6eb2ff; }

.sc-row:nth-child(odd) {
  background: #479dff; }

.sc-row-contain:nth-child(even) {
  background: #479dff; }
  .sc-row-contain:nth-child(even) .sc-row {
    background: #6eb2ff; }

.sc-left, .sc-right {
  display: inline;
  margin: 5%;
  width: 40%; }

.sc-left {
  float: left; }

.sc-right {
  float: right; }

@media (max-width: 1000px) {
  .sc-left, .sc-right {
    width: 80%;
    margin: 10%;
    float: none;
    display: block; }
    .sc-left p:last-child, .sc-right p:last-child {
      padding-bottom: 40px; } }

/*--- MS browsers ---*/
#ie-bar {
  display: none; }

#edge-bar {
  display: none;
  position: relative;
  width: 100%;
  background: #333;
  padding: 10px;
  text-align: center;
  z-index: 9; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #ie-bar {
    display: block;
    width: 100%;
    height: 100vh;
    background: #333;
    padding: 100px 20px;
    text-align: center; }
    #ie-bar a,
    #ie-bar a:hover,
    #ie-bar a:active,
    #ie-bar a:visited {
      color: #fff; }
  .tri-left,
  .tri-right-top,
  .tri-right-bottom,
  nav,
  header {
    display: none; } }
