/*--- global ---*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$font-header: "Manrope", sans-serif;
$font-body: "Roboto Condensed", sans-serif;
$orange: #ff6e61;
$blue-light: #479dff;
$blue-dark: #3b72b3;
$gray: #333;
$white: #fff;

html,
body {
	height: 100%;
}

body {
	height: 100vh;
	margin: 0;
	font-family: $font-body;
}

body {
	color: $white;
}

/*--- headers ---*/

%header {
	font-family: $font-header;
	text-transform: uppercase;
}

h1 {
	@extend %header;
	font-weight: 700;
	//compensate for header
	padding-top: 100px;
	font-size: 40px;
}

h2 {
	@extend %header;
	font-weight: 500;
	font-size: 30px;
}

h3 {
	@extend %header;
	font-size: 20px;
	font-weight: 400;
}

/*--- logo ---*/

header {
	position: absolute;
	top: 20px;
	left: 3%;
	z-index: 9;
}

#logo {
	text-decoration: none;
}

#logo img {
	width: 20px;
	height: auto;
}

#logo span {
	font-family: $font-header;
	z-index: 10;
	color: $white;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 40px;
}

@media (max-width: 1000px) {
	header {
		left: 10%;
	}
}

/*--- navigation ---*/

nav {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
	width: 80px;
	height: 100px;
	background: $white;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	transition: width 1s, height 1s, clip-path 1s;
}

nav i,
#nav-content i {
	color: $gray;
}

nav .fa-bars {
	float: right;
	padding-right: 15px;
	padding-top: 15px;
	font-size: 22px;
}

#nav-content,
nav .fa-times {
	display: none;
}

#nav-links {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100%;
}

#nav-links a {
	font-family: $font-body;
	text-decoration: none;
	color: $gray;
	font-size: 30px;
	display: block;
	text-transform: uppercase;
	padding-bottom: 30px;
}

#nav-links a:nth-child(3),
#nav-links a:nth-child(6) {
	margin-top: 20px;
}

#nav-links a i {
	padding-right: 20px;
	width: 30px;
	text-align: center;
}

nav .fa-times {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 40px;
}

/*--- tri sections ---*/

.tri-left {
	position: absolute;
	z-index: 3;
	width: 60%;
	display: inline;
	float: left;
}

.tri-left .tri-content {
	position: absolute;
	width: 95%;
	height: 100vh;
	background: $orange;
	-webkit-clip-path: url(#hero-clip);
	clip-path: url(#hero-clip);
	padding-left: 5%;
}

.tri-right-top {
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.tri-right-top .tri-content {
	width: 80%;
	height: 55vh;
	background: $blue-light;
	z-index: 2;
	-webkit-clip-path: url(#hero-clip-2);
	clip-path: url(#hero-clip-2);
	padding: 70px 0 0 20%;
	text-align: center;
}

.tri-right-bottom {
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: $blue-dark;
}

.tri-right-bottom .tri-content {
	margin-top: 25%;
	width: 80%;
	padding-left: 20%;
	text-align: center;
}

@media (max-width: 1300px) {
	.tri-right-bottom .tri-content {
		margin-top: 35%;
	}
}

@media (max-width: 1000px) {
	%tri-mobile {
		width: 100%;
		position: relative;
		clear: both;
	}
	.tri-left {
		@extend %tri-mobile;
		height: inherit;
		background-color: $blue-light;
	}
	.tri-right-top {
		@extend %tri-mobile;
		background-color: $blue-dark;
	}
	.tri-right-bottom {
		@extend %tri-mobile;
		margin-top: -25px;
	}
	%tri-content-mobile {
		margin-left: 0;
		width: 80%;
		padding: 0 10%;
	}
	.tri-left .tri-content,
	.tri-right-top .tri-content {
		@extend %tri-content-mobile;
		-webkit-clip-path: url(#mobile-clip);
		clip-path: url(#mobile-clip);
	}
	.tri-right-bottom .tri-content {
		@extend %tri-content-mobile;
		margin-top: 0;
	}
	.tri-content h2 {
		padding-top: 60px;
	}
}

/*--- home ---*/

#currentJob {
	height: 22px;
	width: auto;
}

.tri-left .tri-content h3 {
	margin-top: 60px;
}

.tri-right-top h2 {
	margin-bottom: 0;
}

#lottieProcess {
	width: auto;
	height: 100px;
	margin: 45px 0 55px 0;
}

#lottieShowCase {
	width: auto;
	height: 200px;
}

#brand-logos {
	width: 80%;
	margin-left: -15px;
}

#brand-logos img {
	width: 75px;
	height: auto;
	display: inline;
}

@media (max-width: 1000px) {
	#brand-logos {
		width: 100%;
	}
}

/*--- buttons ---*/

%btn {
	border-radius: 4px;
	padding: 10px 20px;
	text-decoration: none;
	font-family: $font-body;
	border: 3px solid $white;
}

.btn {
	@extend %btn;
	color: $gray;
	background-color: $white;
}

.btn:hover {
	@extend %btn;
	color: $white;
	background-color: transparent;
}

/*-- internal sections--*/

%tri-lp {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	right: 0;
	z-index: 3;
	font-family: $font-body;
	text-align: center;
	transition: width 1s, height 1s, clip-path 1s;
}

#tri-right-bottom-lp {
	@extend %tri-lp;
	clip-path: (polygon(50% 50%, 100% 0, 100% 100%, 0 100%));
	bottom: 0;
	background-color: $blue-dark;
}

#tri-right-top-lp {
	@extend %tri-lp;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 51%);
	top: 0;
	background-color: $blue-light;
}

.lp-col {
	width: 33%;
	display: inline;
	float: left;
}

.lp-col h2 i {
	padding-right: 20px;
}

.lp-col ul {
	text-align: left;
	width: 210px;
	margin: 0 auto;
	li {
		padding-top: 10px;
		font-size: 18px;
	}
}

.lp-col h2 img {
	padding-right: 20px;
}

.lp-col p {
	width: 300px;
	margin: 20px auto 40px auto;
}

@media (max-width: 768px) {
	.lp-col {
		width: 100%;
	}
	.lp-col:last-child {
		padding-bottom: 100px;
	}
	.lp-col h2 {
		padding-top: 30px;
	}
}
