/*--- global ---*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$font-header: "Manrope", sans-serif;
$font-body: "Roboto Condensed", sans-serif;
$orange: #ff6e61;
$blue-light: #479dff;
$blue-lighter: #6eb2ff;
$blue-dark: #3b72b3;
$gray: #333;
$white: #fff;

body {
	font-family: $font-body;
	color: $white;
}

.mt0 {
	margin-top: 0;
}

.mb0 {
	margin-bottom: 0 !important;
}

/*--- headings ---*/

%header {
	font-family: $font-header;
	text-transform: uppercase;
}

h1 {
	@extend %header;
	font-weight: 700;
	//compensate for header
	padding-top: 100px;
	font-size: 40px;
}

h2 {
	@extend %header;
	font-weight: 500;
	font-size: 28px;
}

h3 {
	@extend %header;
	font-size: 18px;
	font-weight: 400;
}

/*--- logo ---*/

header {
	position: absolute;
	top: 40px;
	left: 3%;
	z-index: 9;
}

#logo {
	text-decoration: none;
	img {
		width: 20px;
		height: auto;
	}
	span {
		font-family: $font-header;
		z-index: 10;
		color: $white;
		text-transform: uppercase;
		vertical-align: top;
		line-height: 40px;
	}
}

@media (max-width: 760px) {
	header {
		left: 3%;
	}
}

/*--- navigation ---*/

nav {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
	width: 80px;
	height: 100px;
	background: $white;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	transition: width 1s, height 1s, clip-path 1s, -webkit-clip-path 1s;
}

nav i,
#nav-content i {
	color: $gray;
}

nav .fa-bars {
	float: right;
	padding-right: 15px;
	padding-top: 15px;
	font-size: 22px;
}

#nav-content,
nav .fa-times {
	display: none;
}

#nav-links {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
	a {
		font-family: $font-body;
		text-decoration: none;
		color: $gray;
		font-size: 30px;
		display: block;
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	a i {
		padding-right: 20px;
		width: 30px;
		text-align: center;
	}
	a:nth-child(3),
	a:nth-child(6) {
		margin-top: 20px;
	}
}
nav .fa-times {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 40px;
}

//IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	nav {
		height: 60px;
		width: 60px;
	}
}

/*--- tri sections ---*/

.tri-left {
	position: absolute;
	z-index: 3;
	width: 56%;
	.tri-content {
		height: 100vh;
		background: $orange;
		-webkit-clip-path: url(#hero-clip);
		clip-path: url(#hero-clip);
		align-items: normal;
		.tri-pad {
			padding: 5%;
		}
	}
	h1 {
		margin-bottom: 0;
	}
	svg {
		display: block;
	}
}
@media (max-width: 760px) {
	.tri-pad {
		padding: 2.5% !important;
	}
}

//safari height control on small windows
_::-webkit-full-page-media,
_:future,
:root .tri-left .tri-content {
	padding-bottom: 0 !important;
	height: auto;
	min-height: 100vh;
}
_::-webkit-full-page-media,
_:future,
:root #brand-logos img {
	width: 65px;
}
@media (max-width: 760px) {
	:root .tri-left .tri-content {
		min-height: 97vh;
	}
}

%tri-right {
	width: 50%;
	position: absolute;
	right: 0;
}

.tri-right-top {
	@extend %tri-right;
	top: 0;
	z-index: 2;
	background: $blue-dark;
	.tri-content {
		background: $blue-light;
		z-index: 2;
		-webkit-clip-path: url(#hero-clip-2);
		clip-path: url(#hero-clip-2);
	}
}

.tri-right-bottom {
	@extend %tri-right;
	bottom: 0;
	z-index: 1;
	background: $blue-dark;
}

.tri-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	min-height: 50vh;
	.tri-vert {
		margin: 0;
		position: absolute;
		text-align: center;
		top: 45%;
		transform: translateY(-50%);
		text-align: center;
	}
}

@media (max-width: 760px) {
	%tri-mobile {
		width: 100%;
		position: relative;
		display: block;
	}
	%tri-content-mobile {
		margin-left: 0;
		width: 100%;
	}
	.tri-left {
		@extend %tri-mobile;
		background-color: $blue-light;
		.tri-content {
			height: auto;
			padding-bottom: 20%;
			@extend %tri-content-mobile;
			-webkit-clip-path: url(#mobile-clip);
			clip-path: url(#mobile-clip);
			h3 {
				margin-top: 60px;
			}
		}
	}
	.tri-right-top {
		@extend %tri-mobile;
		background-color: $blue-dark;
		.tri-content {
			@extend %tri-content-mobile;
			-webkit-clip-path: url(#mobile-clip);
			clip-path: url(#mobile-clip);
		}
	}
	.tri-right-bottom {
		@extend %tri-mobile;
		.tri-content {
			@extend %tri-content-mobile;
			margin-top: 0;
		}
	}
}

/*--- home ---*/

#currentJob {
	height: 22px;
	width: auto;
}

#lottieProcess {
	width: auto;
	height: 100px;
	margin: 45px 0 55px 0;
}

#lottieShowCase {
	width: auto;
	height: 200px;
}

#brand-logos {
	width: 80%;
	margin-left: -5px;
	img {
		width: 75px;
		height: auto;
		display: inline;
	}
}

@media (max-width: 760px) {
	#brand-logos {
		width: 100%;
	}
	#lottieProcess {
		width: auto;
		height: 60px;
		margin: 40px 0 50px 0;
	}
	#lottieShowCase {
		width: auto;
		height: 150px;
	}
}

/*--- buttons ---*/

%btn {
	border-radius: 4px;
	padding: 10px 20px;
	text-decoration: none;
	font-family: $font-body;
	border: 3px solid $white;
}

.btn {
	@extend %btn;
	color: $gray;
	background-color: $white;
}

.btn:hover {
	@extend %btn;
	color: $white;
	background-color: transparent;
}

/*-- internal sections--*/

%tri-lp {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	right: 0;
	z-index: 3;
	font-family: $font-body;
	text-align: center;
	transition: width 1s, height 1s, clip-path 1s, -webkit-clip-path 1s;
}

#tri-right-bottom-lp {
	@extend %tri-lp;
	-webkit-clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
	bottom: 0;
	background-color: $blue-dark;
}

#tri-right-top-lp {
	@extend %tri-lp;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 51%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 51%);
	top: 0;
	background-color: $blue-light;
}

.lp-col {
	width: 33%;
	display: inline;
	float: left;
	ul {
		text-align: left;
		width: 210px;
		margin: 0 auto;
		li {
			padding-top: 10px;
			font-size: 18px;
		}
	}
	h2 i {
		padding-right: 20px;
	}
	h2 img {
		padding-right: 20px;
		height: auto;
		width: auto;
	}
	img {
		width: 80%;
		height: auto;
	}
	p {
		width: 300px;
		margin: 20px auto 40px auto;
	}
}

@media (max-width: 900px) {
	.lp-col {
		width: 100%;
		margin-bottom: 30px;
		h2 {
			padding-top: 30px;
		}
	}
	.lp-col:last-child {
		padding-bottom: 100px;
	}
}

/*--- showcase internals ---*/

.sc-contain {
	max-width: 1000px;
	overflow: auto;
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}

%sc-row {
	-webkit-clip-path: url(#mobile-clip);
	clip-path: url(#mobile-clip);
}

.sc-row-contain:nth-child(odd) {
	background: $blue-lighter;
}

.sc-row:nth-child(odd) {
	@extend %sc-row;
	background: $blue-light;
}

.sc-row-contain:nth-child(even) {
	background: $blue-light;
	.sc-row {
		@extend %sc-row;
		background: $blue-lighter;
	}
}

%sc {
	display: inline;
	margin: 5%;
	width: 40%;
}

.sc-left {
	@extend %sc;
	float: left;
}

.sc-right {
	@extend %sc;
	float: right;
}

@media (max-width: 760px) {
	%sc {
		width: 80%;
		margin: 10%;
		float: none;
		display: block;
		p:last-child {
			padding-bottom: 40px;
		}
	}
}

/*--- IE ---*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.tri-left .tri-content .tri-pad {
		width: 90%;
		padding: 2.5%;
	}
	nav {
		border: 1px solid $white;
		border-bottom-left-radius: 10px;
	}
}
